h3 {
    text-align: center;
    font-size: 18px;
}


.login {
  margin: auto;
  width: 300px;
  clear: both;
}

.login input {
  width: 100%;
  clear: both;
  height: 25px;
}

.submit {
    width: 150px;
    position: relative;
    left: 75px;
}

.error{
    color: red;
}